input[type="text"], 
input[type="password"], 
input[type="datetime"] {
    @extend %heading2;
    box-sizing: border-box;
    color: $color;
    margin: 0 0 16px;
    padding: 5px 0 7px;
    border: none;
    border-bottom: 2px solid $input_background;
    text-transform: uppercase;
    transition: .2s ease all;
    width: 100%;

    &::placeholder {
        color: #d4d5da;
        opacity: 1;
    }
}
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus {

}