.edit-popup {
    background: #fff;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 3;
    display: none;

    &__opened {
        display: block;
    }

    &_title {
        @extend %heading5;
        text-align: center;
    }
    &_back {
        background: url(../Content/img/back.svg) no-repeat;
        position: absolute;
        top: 10px;
        left: 10px;
        height: 20px;
        width: 20px;
    }
    &_list-item {
        @extend %heading2;
        border-top: 1px solid $color;
        list-style: none;
        margin: 0;
        padding: 50px 0;
    }
    &_count {
        @extend %heading6;
        color: $light_color;
    }
    &_buttons {
        display: flex;
        justify-content: space-between;
    }
    &_delete {
        background: #f6f6f6 url(../Content/img/delete.svg) no-repeat center center;
        border: 1px solid $color;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        width: 40%;
        height: 38px;
        transition: .3s all ease;
    }
    &_copy {
        background: #f6f6f6 url(../Content/img/copy.svg) no-repeat center center;
        border: 1px solid $color;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        width: 40%;
        height: 38px;
        transition: .3s all ease;
    }
}
