.excercise {
    background: #f6f6f6;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 60px 40px 40px;
    display: none;

    &__visible {
        display: block;
    }
    &_close {
        color: #000;
        font-size: 30px;
        position: absolute;
        top: 45px;
        right: 45px;
        text-decoration: none;
    }
    &_buttons {
        display: flex;
        justify-content: space-between;
    }
    &_delete {
        background: #f6f6f6 url(../Content/img/delete.svg) no-repeat center center;
        border: 1px solid $color;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        width: 40%;
        height: 38px;
        transition: .3s all ease;
    }
    &_copy {
        background: #f6f6f6 url(../Content/img/copy.svg) no-repeat center center;
        border: 1px solid $color;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        width: 40%;
        height: 38px;
        transition: .3s all ease;
    }
}
