.gender {
    position: absolute;
    right: -6px;
    top: 180px;
    transform: rotateZ(-90deg);

    &_button {
        @extend %heading6;
        color: $grey;
        margin: 5px 0;
        position: relative;
        text-decoration: none;
        transition: .2s ease color;

        &:hover,
        &__active {
            color: $color;

            &:after {
                content: '';
                border-bottom: 2px solid $blue;
                position: absolute;
                top: 85%;
                left: 0;
                width: 100%;
            }
        }
    }
}