.menu-right {
    position: absolute;
    top: 15px;
    right: 22px;
    background: #fff;

    &_link {
        border-radius: 50%;
        display: inline-block;
        height: 32px;
        width: 32px;

        &__profile {
            background: url(img/avatar.png) no-repeat;
            background-size: 100%; 
        }
    }
    &_avatar {
        border-radius: 50%;
        width: 100%;
    }
}