.tags {
    position: absolute;
    left: 35px;
    top: 55px;
    transform-origin: 0 0;
    transform: rotateZ(90deg);
    white-space: nowrap;
    @include tablet {
        left: 20px;
    }
}

.tag {
    margin: 0 20px 0 0;
    text-decoration: none;
}