@font-face {
    font-family: 'Formular-Light';
    src: url('fonts/formular-light.woff') format('woff');
}
@font-face {
    font-family: 'FuturaCondBookObl';
    src: url('fonts/futuraptcond-bookobl.woff') format('woff');
}
@font-face {
    font-family: 'FuturaCondExtraBoldObl';
    src: url('fonts/futuraptcond-extraboldobl.woff') format('woff');
}
@font-face {
    font-family: 'FuturaCondBoldObl';
    src: url('fonts/futuraptcond-boldobl.woff') format('woff');
}