%heading1 {
    font: 52px $headings_font-family;
    margin: 5px 0 15px;
    text-transform: uppercase;
}
%heading2 {
    font: 24px $headings_font-family;
    margin: 30px 0 13px;
    clear: both;
}
%heading3 {
    font: 28px 'FuturaCondBoldObl';
}
%heading4 {
    font: 26px $subheadings_font-family;
    margin-bottom: 13px;
}
%heading5 {
    font: 22px $subheadings_font-family;
    margin: 0 0 10px;
}
%heading6 {
    font: 18px $subheadings_font-family;
    margin: 0 0 10px;
}

h1, 
.heading-1 {
    @extend %heading1;
}
h2,
.heading-2 {
    @extend %heading2;
}
h3,
.heading-3 {
    @extend %heading3;
}
h4,
.heading-4 {
    @extend %heading4;
}
h5,
.heading-5 {
    @extend %heading5;
}
h6,
.heading-6 {
    @extend %heading6;
}



