@{
    ViewBag.Title = "Muscules.by - ваш персональный тренер";
    ViewBag.keywords = "тренировки, бодибилдинг, упражнения, мышцы";
    ViewBag.Description = "Ваш персональный тренер";
}

<div class="gender">
    <a href="#" class="gender_button gender_button__male">мужской</a>
    <a href="#" class="gender_button gender_button__female active">женский</a>
</div>

<div class="muscles">
    <div class="muscles_titles">
        <a class="muscles_title muscles_title__chest muscles_title__visible" data-muscle="chest" href="#" data-layer="0">грудные</a>
        <a class="muscles_title muscles_title__quadriceps muscles_title__visible" data-muscle="quadriceps" href="#" data-layer="0">квадрицепс</a>

        <a class="muscles_title muscles_title__shoulder" data-muscle="shoulder" href="#" data-layer="1">плечи</a>
        <a class="muscles_title muscles_title__trapezium" data-muscle="trapezium" href="#" data-layer="1">трепеции</a>

        <a class="muscles_title muscles_title__butt" data-muscle="butt" href="#" data-layer="4">ягодицы</a>
        <a class="muscles_title muscles_title__shin" data-muscle="shin" href="#" data-layer="4">икры</a>

        <a class="muscles_title muscles_title__back" data-muscle="back" href="#" data-layer="6">широчайшие</a>
        <a class="muscles_title muscles_title__small-back" data-muscle="triceps" href="#" data-layer="6">длинные</a>

        <a class="muscles_title muscles_title__hamstrings" data-muscle="hamstrings" href="#" data-layer="7">бицепс бедра</a>
        <a class="muscles_title muscles_title__triceps" data-muscle="triceps" href="#" data-layer="7">трицепс</a>

        <a class="muscles_title muscles_title__biceps" data-muscle="biceps" href="#" data-layer="10">бицепс</a>
        <a class="muscles_title muscles_title__arm" data-muscle="biceps" href="#" data-layer="10">предплечья</a>

        <a class="muscles_title muscles_title__press" data-muscle="press" href="#" data-layer="11">пресс</a>
        <a class="muscles_title muscles_title__sidepress" data-muscle="press" href="#" data-layer="11">косые</a>
    </div>
    <svg class="muscles_map muscles_map__girl" id="map" pointer-events="all" version="1.1" viewBox="0 0 600 1300">
        <defs>
            <pattern id="grid" patternUnits="userSpaceOnUse" width="20" height="20" patternTransform="rotate(55 0 0)">
                <rect x="0" y="0" width="20" height="20" fill="rgba(255, 0, 0, .5)" stroke="red" />
            </pattern>
        </defs>
        <style>
            path {
                fill: none;
            }
        </style>
        <g class="muscles_side active" >
            <path class="quadriceps" title="Квадрицепсы" d="M197.3,635c0,0,13.3,8.7,16.7,19.3c3.3,10.7,42.7,94,45.3,105.3 C262,771,291.3,847,296,851s20.7-4,30.7,0s20.7-11.3,25.3-12.7c4.7-1.3-14-24-20-100s-34.7-169.3-44.7-184 C277.3,539.7,197.3,635,197.3,635z" />
            <path class="chest" title="Грудные мышцы" d="M210.7,329c0,0-3.3,36.7,3.3,48s16,21.3,40,23.3 s32.7,0.7,41.3-21.3c8.7-22,5.3-66,8-76s-31.3-38.7-36-46c-4.7-7.3-50.7,6.7-50.7,6.7L210.7,329z" />
        </g>

        <g class="muscles_side">
            <path class="shoulder" title="Дельтовидные мышцы" d="M335.7,297.2c0,0-8.7-49.3-28-57.3s-28-9.3-44,0s-6,1.3-7.3,7.3 s76.7,50,76.7,50" />
            <path class="trapezium" title="Трапециевидные мышцы" d="M249,221.8c7.3,5.3,32,10,25.3,10s-57.3,20-57.3,20L249,221.8z"/>
        </g>
        <g class="muscles_side">
            
        </g>
        <g class="muscles_side">
            
        </g>
        <g class="muscles_side">
            <path class="shin" title="Икроножные мышцы" d="M349.3,856.1c0,0,33,34.5,28.5,109.5c-4.5,75-6,94.5-6,94.5 s-34.5-6-36-28.5c-1.5-22.5-31.5-150-36-156c-4.5-6,39.2-28.5,39.2-28.5L349.3,856.1z" />
            <path class="butt" title="Ягодичные мышцы" d="M225.3,669.3c0,0,32.7-1.3,37.3-41.3c4.7-40,3.3-52-10-66 c-13.3-14-53.3-17.3-69.3-12.7c-16,4.7-32.7,141.3,37.3,120" />
        </g>
        <g class="muscles_side">

        </g>
        <g class="muscles_side">
            <path class="back" title="Широчайшие мышцы спины" d="M306.5,320c0,0-13.5,100.5-19.5,116.5s-7.5,22.5-30,30.5 s-38.5-34-39-54.5S306.5,320,306.5,320z" />
            <path class="small-back" title="Длинные мышцы спины" d="M211,458c0,0,2,61,0,74s-1,18,9,11s29,21.2,14-40.9 S210.6,444.1,211,458z" />
        </g>
        <g class="muscles_side">
            <path class="triceps" title="Трицепсы" d="M44,391c0,0,13,15,44-37s-9-35-9-35l-35,65" />
            <path class="hamstrings" title="Бицепс бедра" d="M225,670c0,0,26,127,32,148s19,52,33,30s-27-173-32.5-184 S225,670,225,670z" />
        </g>
        <g class="muscles_side">

        </g>
        <g class="muscles_side">

        </g>
        <g class="muscles_side">
            <path class="arm" title="Предплечья" d="M25,430c0,0,53,42,68,54s31,23,33,28s17-9,20-11s-69-87-90-94 S25,430,25,430z" />
            <path class="biceps" title="Бицепсы" d="M117,325c-14,0-62,49-65,53s-1,20,12,16s67-69,67-69" />
        </g>
        <g class="muscles_side">
            <path class="press" title="Брюшной пресс" d="M265,415c0,0,20-2,26,13s-2,38-6,59s3.2,24-5.9,46 c-9.1,22-17.1,37-24.1,45s-26,24-9-33S265,415,265,415z" />
            <path class="press" title="Косые мышцы прессса" d="M187,534c0,0,15-12.8,25-33.4s7-16.6,6-37.6s-34-67-43-64 s-8-12-9,3s11,46,8,57s-18,35.2-14,41.6c4,6.4,24,33.4,24,33.4" />
        </g>
    </svg>
</div>

<ul id="excercises" class="excercises"></ul>
<div class="info" id="info">
    <a href="#" class="info_close" id="info_close">&larr;</a>
    <div class="info_holder"></div>
</div>

<ul class="trainings-popup" id="trainings-popup"></ul>

<div class="shedule" id="shedule">
    <h2 class="shedule_header">ТРЕНИРОВКИ</h2>
    <ul class="trainings" id="trainings">
        <li class="trainings_item" id="trainings-settings">
            <a href="#" class="trainings_name" data-handler="Training.showExcercises">Настройки</a>
            <ul class="trainings_excercises">
                <li>
                    <button class="button addTraining" data-handler="Training.add">создать тренировку</button>
                </li>
                <li>
                    <button class="button">редактировать</button>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="training" id="training"></ul>

    <a class="add-training addTraining"></a>
    <a class="share-training" id="shareTraining"></a>

    <div class="excercise" id="excercise">
        <a href="#" class="excercise_close" id="close-excercise">✕</a>
        <div id="excercise_sets-holder"></div>
        <div class="excercise_buttons">
            <button class="excercise_delete" id="delete-excercise"></button>
            <button class="excercise_copy" id="copy-excercise"></button>
        </div>
        <div class="copy-popup" id="copy-popup">
            <a href="#" class="copy-popup_back" id="close-copy-popup"></a>
            <p class="copy-popup_title">Дублировать в тернировку</p>
            <ul class="copy-popup_list" id="copy-list"></ul>
        </div>
    </div>
</div>

<div class="search" id="search">
    <p class="search_title">УПРАЖНЕКНИЯ</p>
    <input class="search_input" type="text">
    <div class="search_tags">

    </div>
    <div class="search_excercises">
        
    </div>
</div>

<script src="~/Content/script.js"></script>
