.menu {

    &_trigger {
        color: $color;
        background: $color;
        border-top: 6px solid #fff;
        border-bottom: 6px solid #fff;
        position: absolute;
        left: 24px;
        top: 29px;
        height: 1.5px;
        width: 29px;
        transition: .2s ease background;

        &:before,
        &:after {
            content: '';
            position: absolute;
            border-bottom: 1.5px solid currentColor;
            top: -6px;
            left: 0;
            width: 100%;
            transform-origin: 50% 50%;
            transition: .2s ease transform;
        }
        &:after {
            top: 6px;
        }

        &__opened {
            background: transparent;

            &:before {
                transform: rotateZ(45deg) translate(6px, 5px);
            }
            &:after {
                transform: rotateZ(-45deg) translate(4px, -3px);
            }
        }
    }
    &_popup {
        background: #fff;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 25px 50px;
        display: flex;
        align-items: center;
        opacity: 0;
        z-index: -1;
        transition: .2s ease opacity;

        &__opened {
            z-index: 3;
            opacity: 1;
        }
    }
    &_link {
        @extend %heading1;
        font-size: 36px;
        margin-bottom: 24px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }
    &_login {
        position: absolute;
        left: 25px;
        bottom: 25px;
    }
    &_login-link {
        color: $color;
        @extend %heading5;
        margin: 0 25px 0 0;
        text-decoration: none;
    }
}